FREVOS_DATA_ROOT=/srv/frevos
FREVOS_SOURCE_SHA=0000000000000000000000000000000000000000
FREVOS_UAT_HOST=203-0-113-10.sslip.io
FREVOS_ACME_EMAIL=uat-operator@example.com
FREVOS_OIDC_ISSUER=https://example.eu.auth0.com/
FREVOS_OIDC_CLIENT_ID=example-client-id
FREVOS_OIDC_CLIENT_SECRET=example-client-secret
FREVOS_OIDC_TRANSACTION_KEY=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
FREVOS_DB_MIGRATOR_PASSWORD=example-migrator-password
FREVOS_DB_RUNTIME_PASSWORD=example-runtime-password
FREVOS_UAT_ADMIN_SUBJECT=auth0|example-admin
FREVOS_UAT_VIEWER_SUBJECT=auth0|example-viewer
